<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Juliano Américo">
	<meta name="description" content="Client form">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cadastro de cliente</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../CSS/responsive.css">
	<link rel="stylesheet" href="../CSS/style.css">
	<script type="text/javascript" src="../JS/script_js.js"></script>
	<script type="text/javascript" src="../JS/valida_cpf_cnpj.js"></script>
</head>
<body>
	<section class="form-client form">
		<header><h1>Cadastro de cliente</h1></header>
		
		<form name="clientForm" action="#" method="POST">

			<div class="row">
				<div class="col-6 col-s-6">País:<input type="text" maxlength="4" placeholder="Ex: BR" autofocus name="country" required></div>
				<div class="col-6 col-s-6">Código sequencial distribuidor/loja:<input type="number" maxlength="20" placeholder="Ex: 1202" name="storeCode" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">CNPJ<input class="cpf_cnpj" type="text" maxlength="18" placeholder="Ex: XX.XXX.XXX/XXXX-XX" name="cnpj" onKeypress="mask(this, cnpjFunc)" required/></div>
				<div class="col-6 col-s-6">Nome da fantasia:<input type="text" maxlength="40" placeholder="Ex: Minha empresa LTDA" name="fantasyName" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Razão social:<input type="text" maxlength="40" placeholder="Minha empresa" name="socialReason" required></div>
				<div class="col-6 col-s-6">CEP:<input id="cep" type="text" maxlength="12" placeholder="Ex: 10005-003" name="cep" onKeypress="mask(this, cepFunc)" onBlur="searchcep(this.value)" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Endereço:<input id="address" type="text" maxlength="40" placeholder="Ex: Avenida General Osório" name="address" required></div>
				<div class="col-6 col-s-6">Número:<input type="number" maxlength="6" placeholder="Ex: 100" name="numberAddress" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Complemento:<input type="text" maxlength="30" placeholder="Ex: apto 10 bloco 3" name="complement" required></div>
				<div class="col-6 col-s-6">Bairro:<input id="neighbourhood" type="text" maxlength="30" placeholder="Ex: Vila Marieta" name="neighbourhood" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Cidade:<input id="city" type="text" maxlength="30" placeholder="Ex: Santos" name="cidade" required></div>
				<div class="col-6 col-s-6">Estado:<input id="state" type="text" maxlength="4" placeholder="Ex: SP" name="uf" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">E-mail comercial:<input type="e-mail" maxlength="70" placeholder="Ex: comercial@comercial.com.br" name="emailComercial" required></div>
				<div class="col-6 col-s-6">E-mail TI:<input type="e-mail" maxlength="70" placeholder="Ex: ti@ti.com.br" name="emailTi" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Nome responsável comercial:<input type="text" maxlength="30" placeholder="Ex: Silvio Santos" name="comercialName" required></div>
				<div class="col-6 col-s-6">Nome responsável do TI:<input type="text" maxlength="30" placeholder="Ex: Silvio Santos" name="TiName" required></div>
			</div>

			<div class="row">
				<div class="col-6 col-s-6">Fone responsável comercial:<input type="text" maxlength="15" placeholder="Ex: (19) 1111-1111" name="comercialFone" onKeypress="mask(this, phone)" required></div>
				<div class="col-6 col-s-6">Fone responsável TI:<input type="text" maxlength="15" placeholder="Ex: (19) 1111-1111" name="TiFone" onKeypress="mask(this, phone)" required></div>
			</div>


			<div class="row">
				<div class="col-6 col-s-6">Site<input type="text" maxlength="70" placeholder="Ex: www.meusite.com.br" name="site" required></div>
				<div class="col-6 col-s-6">CNPJ da Matriz:<input class="cpf_cnpj" type="text" maxlength="18" placeholder="Ex: XX.XXX.XXX/XXXX-XX" onKeypress="mask(this, cnpjFunc)" name="cnpjMatriz" required></div>
			</div>

			<div class="row">
				<!-- <label>IBGE:
                <input name="ibge" type="text" id="ibge" size="8" /></label><br /> -->
				<div class="col-12">
					<input class="client-bt" type="submit" value="CADASTRAR" onclick="return validateClientForm()">
				</div>
			</div>
		</form>

	</section>
	
</body>
</html>