<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Juliano Américo">
	<meta name="description" content="Product form">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cadastro de produtos</title>
	<link rel="stylesheet" href="../CSS/responsive.css">
	<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
	<section class="form form-product">
		<header><h1>Cadastro de produtos</h1></header>

		<div class="row">
			<div class="col-3 col-s-3"><label for="country">País:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="4" placeholder="Ex: BR" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="storeCode">Código sequencial da distribuidor/loja:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="20" placeholder="Ex: 1202" required></div>
		</div>
		
		<div class="row">
			<div class="col-3 col-s-3"><label for="productCode">Código do produto:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="20" placeholder="Ex: 1001" required></div>
		</div>
		
		<div class="row">
			<div class="col-3 col-s-3"><label for="productDescription">Descrição do produto:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="40" placeholder="Ex: Carro" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="productDescriptionShort">Descrição do produto abreviada:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="20" placeholder="Ex: Car" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="unit">Unidade de medida:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="4" placeholder="Ex: UN" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="comercialFamily">Família comercial:</label></div>
			<div class="col-9 col-s-9"><input type="text" maxlength="10" placeholder="Ex: Veículos" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="producerCode">Código do fabricante:</label></div>
			<div class="col-9 col-s-9"><input type="number" maxlength="15" placeholder="Ex: 1010" required></div>
		</div>

		<div class="row">
			<div class="col-3 col-s-3"><label for="mark">Marca:</label></div>
			<div class="col-9 col-s-9"><input type="number" maxlength="15" placeholder="Ex: Volkswagen" required></div>
		</div>

		<div class="row">
			<div class="col-12">
				<input type="submit" value="CADASTRAR">
			</div>
		</div>

	</section>
	
</body>
</html>