<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Juliano Américo">
	<meta name="description" content="User control panel">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Painel de controle</title>
	<link rel="stylesheet" href="../CSS/responsive.css">
	<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
	<div class="clear-userControlPanel"></div>
	<section id="main-panel" class="row">

		<aside class="col-3 col-s-3">
			<div class="polaroid">
				<img src="../IMG/img_avatar.png" alt="Imagem de perfil" width="100%">
				<div class="container">
					<h3 id="profileName">Silvio Santos</h3>
					<p>Desenvolvedor</p>
				</div>
			</div>
		</aside>

		<section class="col-9 col-s-9">
			<h1 id="profileText">Perfil</h1>
			<hr>

			<div class="row">
				<form action="#" method="POST">

					<div class="row">
						<div class="col-3 col-s-3">Senha Atual:</div>
						<div class="col-9"><input class="input-password" type="password" maxlength="8"></div>
					</div>

					<div class="row">
						<div class="col-3 col-s-3">Nova Senha:</div>
						<div class="col-9"><input class="input-password" type="password" maxlength="8"></div>
					</div>


					<div class="row">
						<div class="col-3 col-s-3">Confirmar:</div>
						<div class="col-9"><input class="input-password" type="password" maxlength="8"></div>
					</div>

					<div class="col-3 col-s-3">   
						<input type="submit" value="Alterar senha">
					</div>
				</form>
			</div>
		</section>

	</section>
	
</body>
</html>