<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Juliano Américo">
	<meta name="description" content="User logon">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Usuário on</title>
	<link rel="stylesheet" href="../CSS/responsive.css">
	<link rel="stylesheet" href="../CSS/style.css">
</head>
<body>

	<section id="main-panel" class="row">

		<aside class="col-4 col-s-4">
			<div class="polaroid">
				<img src="../IMG/img_avatar.png" alt="Imagem de perfil" width="100%">
				<div class="container">
					<h3 id="profileName">Juliano Américo</h3>
					<p>Desenvolvedor web</p>
				</div>
			</div>
		</aside>
        <div class="col-8 col-s-8">
		    <h1>Formulários</h1>
		    <hr>

		    <div class="row">
		    	<a class="col-6 col-s-6" href="client_form.html" target="_blank"><input type="button" value="Cadastrar cliente"></a>
		    	<a class="col-6 col-s-6" href="approvers_form.html" target="_blank"><input type="button" value="Cadastrar aprovadores"></a>
		    </div>

		    <div class="row">
		    	<a class="col-6 col-s-6" href="product_form.html" target="_blank"><input type="button" value="Cadastrar produto"></a>
		    	<a class="col-6 col-s-6" href="price_form.html" target="_blank"><input type="button" value="Cadastrar preços"></a>
		    </div>

		    <div class="row">
		    	<a class="col-12 col-s-12" href="cotation_price_2approve.html"><input type="button" value="Aprovar cotações"></a>
		    </div>

		    <div class="row">
		    	<h1>Configurações</h1>
		    	<hr>
		    	<a href="user_control_panel.html" class="col-6 col-s-6"><input type="button" value="Editar perfil"></a>
		    </div>

		</div>

	</section>
	
</body>
</html>